h1 {
    font-family: arial;
    color: rgb(188, 177, 177);
}
h2 {
    font-family: arial;
}
a {
    text-decoration: none;
    font-family: arial;
}
img {
    max-height: 100%;
    max-width: 100%;
}
li {
    list-style: none;
    display: inline-block;
}
#wrapper {
    width: 1600px;
    background-color: rgb(237, 237, 237);
}
.header {
    position: absolute;
    background-color: rgb(229, 234, 240);
    height: 80px;
    width: 1600px;
}
.header h2 {
    position: absolute;
    left: 140px;
    top: 0px;
}
.header h5 {
    position: absolute;
    top: 25px;
    left: 140px;
}
.header li {
    margin-right: 80px;
    position: relative;
    left: 650px;
    bottom: 100px;
}
.header a {
    font-size: 18px;
    position: relative;
    bottom: 50px;
    left: 45px;
}
.header p {
    font-weight: 700;
    font-size: 27px;
    color: rgb(198, 196, 196);
}
.body {
    position: relative;
    top: 90px;
    margin-left: 10px;
}
.body a {
    display: block;
    margin-top: 10px;
}
.body img{
    height: 300px;
    width: 300px;
}
.bodybottom {
    position: relative;
    top: 20px;
}
.footer {
    margin-top: 150px;
    position: relative;
    left: 50px;
}
.footer p {
    font-family: arial;
    font-size: 12px;
    text-align: center;
    display: block;
}
.footer h5 {
    display: block;
    text-align: center;
}