<html>
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        {% load static %}
        <link rel="stylesheet" href="{% static 'store/css/login.css' %}" media="screen" title="no title"  charset="utf-8">
    </head>
    <body>
        <div id="wrapper">
            <div class="header">
                <img src="{% static 'store/images/logo.png' %}" alt="logo.png"/>
                <h2>Ricardo's Tienda Picante Loca</h2>
                <h5>[The only place where ALL sauces are so friggin livin la vida loca!]</h5>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><p>|</p><a href="/dummy">About</a></li>
                    <li><p>|</p><a href="/dummy">News</a></li>
                    <li><p>|</p><a href="/dummy">Contact</a></li>
                    {%if not request.session.id%}
                    <li><p>|</p><a href="/register">Join</a></li>
                    <li><p>|</p><a href="/login">Log in</a></li>
                    <li><p>|</p><a href="/cart">Cart</a></li>
                    {%endif%}
                </ul>
            </div>
            <div class="body">
                <form action="/processlog" method="post">
                    {% csrf_token %}
                    <h2>Login</h2>
                    <label>Email: </label>
                    <input type="email" name="email">
                    <br><br>
                    <label>Password: </label>
                    <input type="password" name="password">
                    <br><br>
                    <input type="submit" value="Login">
                </form>
                <br><br>
                {% if messages %}
                    {% for message in messages %}
                    <p> {{ message }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="footer">
                <p>&#9400; 2017 Ricardo's Tienda Picante Loca</p>
                <p> Failure to adhere by copyright laws will result in a personal visit from the owner, Ricardo Rojas</p>
                <h5> And you don't want that to happen now, do you?</h5>
                <h5>Here comes the pain, cabron</h5>
            </div>
        </div>
    </body>
</html>